<div class="col-md-6 col-xl-3 photo_item ">
                        <div class="row justify-content-center ">
                            <div class="col-9 col my-2">
                                <div class="row">
                                    <div class="col p-0  gallery-item photo-stack photo_feed_avatar" data-toggle="modal" data-target="#myModal">
                                        <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTWPpNd74Agn_ctVoDn7PE3evqsDFFxA_R8Rw&usqp=CAU'>
                                        <img src='http://placekitten.com/300/200?image=2'>
                                        <img src='http://placekitten.com/300/200?image=3'>
                                        <div class="gallery-item-info">
                                            <ul>
                                                <li class="gallery-item-num rounded-circle text-center py-4">
                                                    <div><%=album.photos.count%></div>
                                                    <div class="small">PHOTOS</div>
                                                </li>
                                            </ul>  
                                        </div>
                                    </div>
                                </div>
                                <div class="row photo_tab_title ">
                                    <div class="col text-center title">
                                        <%=album.title%>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>